<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Member Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/styleTemplate_Serhii.css">
</head>
<body>
<div class="container">
    <img class="photo" src="<%= teamMember.photoUrl %>" alt="<%= teamMember.name %>">
    <div class="details">
        <h1><%= teamMember.name %></h1>
        <h2><%= teamMember.position %></h2>
        <p><%= teamMember.description %></p>
    </div>
</div>
</body>
</html>
